.mobile-layout {
  padding: 10px;
}

.mobile-header {
  background-color: #dee2e6;
  padding: 10px;
  text-align: center;
}

.mobile-main {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
}

.mobile-footer {
  background-color: #e9ecef;
  padding: 10px;
  text-align: center;
}